*{
margin: 0px;
padding: 0px;
    
}
body{ 
    background-image: url("../img/agx4.jpg");
    background-position:50% 45%;
    color: black;
    font-family: arial;
}
input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius:30px;
    border:2px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    color:black ;
    outline: none;
}
div#corpo-form{
    width: 420px;
    margin: 150px auto 0px auto; 
}
div#corpo-form-cad{
    width: 420px;
    margin: 80px auto 0px auto; 
}
div#corpo-form h1, div#corpo-form-cad h1{
        text-align: center;
        padding: 20px;
        color: white;
}
a{
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
     
}
a:hover{
    text-decoration: underline;
}
input[type=submit]{
    background-color: white;
    border: none;
    cursor: pointer;
    
}
::webkit-input-placehold{
   color: #fff;

}
::-moz-placehold{
    color: #fff;
    
}
::-ms-input-placeholder{
    color: #fff;
}
div#msg-sucesso{
    width: 420px;  
   margin: 10px auto auto;
   padding: 10px;
   background-color: rgba(50,205,50,.3);
   border: 1px solid rgb(34,139,34);
}
div.msg-erro{
    width: 420px;  
   margin: 10px auto auto;
   padding: 10px;
   background-color: rgba(250,128,114,.3);
   border: 1px solid rgb(165,42,42);
   
}